body {
    background-color: rgb(30, 30, 30);
    color: white;
}

.input-task {
    background-color: rgb(30, 30, 30);
    color: white;
    border-color: white;
}

.add-task {
    background-color: rgb(30, 30, 30);
    color: white;
    border-color: white;
}