body {
    background-color: black;
    color: white;
    font-family: Arial;
}

.move-button {
    background-color: black;

    font-size: 80px;

    border-color: white;
    border-radius: 50%;
    border-width: 5px;
    
    padding: 35px;

    cursor: pointer;
}

.paper {
    margin-left: 10px;
}

.scissors {
    margin-left: 10px
}

.score {
    font-size: 25px;
}

.reset-button,
.auto-play-button,
.yes-button,
.no-button {
    background-color: white;
    border: none;
    font-size: 20px;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
}

.overlay {
    position: fixed;
    
    top: 0;
    left: 0;
    
    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 99;
}

.confirm-box {
    position: fixed;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    background-color: rgb(35, 35, 35);
    color: white;
    font-family: Arial;

    padding: 25px;
    border-radius: 10px;
    text-align: center;
    z-index: 100;
}

.confirm-box button {
    margin: 10px;
    padding: 8px 15px;
    font-size: 16px;
}

.hidden {
    display: none;
}